pool:
  vmImage: 'Ubuntu-22.04'

trigger:
  branches:
    include:
      - master

variables:
  imageName: 'pki-web'
  NODE_OPTIONS: '--use-openssl-ca'

steps:
  - task: SonarQubePrepare@4
    inputs:
      SonarQube: 'sonar-qube'
      scannerMode: 'Other'

  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'package'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
      sonarQubeRunAnalysis: true
      jdkVersionOption: 1.11

  - task: Docker@2
    inputs:
      containerRegistry: 'REPLACEME'
      repository: '$(imageName)'
      command: 'build'
      Dockerfile: '**/Dockerfile'
      tags: |
        $(Build.BuildNumber)
        latest

  - task: Docker@2
    inputs:
      containerRegistry: 'REPLACEME'
      repository: '$(imageName)'
      command: 'push'
      tags: |
        $(Build.BuildNumber)
        latest
