<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>HMG PKI - Client Side Certificates - ADMIN</title>

        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body id=body>
        <div class="admin-link"><a href="/" th:text="#{admin.ui.back}"></a></div>

        <h1>HMG "Client Side Certificates" ADMIN WebApp</h1>

        <div th:if="${message}" class="message">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${errorMessage}" class="error-message">
            <span th:text="${errorMessage}"></span>
        </div>

        <div id="pending-requests-area" class="admin-list-area">
            <img src="cert-request.png" alt="" th:width="50px" style="float: left; vertical-align: middle;  margin-right: 10px;" />
            <h2 th:text="#{admin.ui.requests.headline}"></h2>
            <table id="pending-requests" class="admin-list-table">
                <thead>
                    <tr>
                        <th th:text="#{admin.ui.requests.user}"></th>
                        <th th:text="#{admin.ui.requests.date}"></th>
                        <th th:text="#{admin.ui.requests.filename}"></th>
                        <th th:text="#{admin.ui.requests.actions}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.isEmpty(pendingRequests)}">
                        <td th:colspan="4" th:text="#{admin.ui.requests.nopending}" class="no-requests"></td>
                    </tr>
                    <tr th:each="csr,iterStat : ${pendingRequests}">
                        <td th:class="${iterStat.odd}?'': 'alt'" th:text="${csr.getUserName()}"></td>
                        <td th:class="${iterStat.odd}?'': 'alt'" th:text="${#temporals.format(csr.getLastModified(), 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:class="${iterStat.odd}?'': 'alt'">
                            <div class="tooltip-parent">
                                [[${csr.getCsrFile().getFileName().toString()}]]
                                <div class="tooltip-content" th:utext="${#strings.replace(csr.getCsrInfo(),',','<br/>')}"></div>
                            </div>
                        </td>
                        <td th:class="${iterStat.odd}?'actions': 'alt actions'">
                            <form action="#" th:action="@{/rejectCSR}" method="post" class="reject-form">
                                <input type="hidden" name="userName" th:value="${csr.getUserName()}" />
                                <input type="hidden" name="fileName" th:value="${csr.getCsrFile().getFileName().toString()}" />
                                <input type="submit" name="reject" th:value="#{admin.ui.requests.action.reject}" />
                            </form>
                            <form action="#" th:action="@{/signCSR}" method="post">
                                PW: <input type="password" name="cryptPassword" class="crypt-pwd-field" />
                                Key: <input type="password" name="keyPassword" class="crypt-pwd-field" />
                                <input type="hidden" name="userName" th:value="${csr.getUserName()}" />
                                <input type="hidden" name="fileName" th:value="${csr.getCsrFile().getFileName().toString()}" />
                                <input type="submit" name="sign" th:value="#{admin.ui.requests.action.sign}" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="signed-certificates-area" class="admin-list-area">
            <img src="certs.png" alt="" th:width="50px" style="float: left; vertical-align: middle;  margin-right: 10px;" />
            <h2 th:text="#{admin.ui.signed.headline}"></h2>
            <table id="signed-certificates" class="admin-list-table">
                <thead>
                    <tr>
                        <th th:text="#{admin.ui.requests.user}"></th>
                        <th th:text="#{admin.ui.requests.created}"></th>
                        <th th:text="#{admin.ui.requests.renewed}"></th>
                        <th th:text="#{admin.ui.requests.filename}"></th>
                        <th th:text="#{admin.ui.requests.actions}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.isEmpty(signedRequests)}">
                        <td th:colspan="4" th:text="#{admin.ui.signed.nosigned}" class="no-requests"></td>
                    </tr>
                    <tr th:each="crt,iterStat : ${signedRequests}">
                        <td th:class="${iterStat.odd}?'': 'alt'" th:text="${crt.getUserName()}"></td>
                        <td th:class="${iterStat.odd}?'': 'alt'" th:text="${#temporals.format(crt.getLastModified(), 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:class="${iterStat.odd}?'': 'alt'" th:if="${crt.getLastRenewed() == null}">-</td>
                        <td th:class="${iterStat.odd}?'': 'alt'" th:if="${crt.getLastRenewed() != null}" th:text="${#temporals.format(crt.getLastRenewed(), 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:class="${iterStat.odd}?'': 'alt'">
                            <div class="tooltip-parent">
                                [[${crt.getCsrFile().getFileName().toString()}]]
                                <div class="tooltip-content" th:utext="${#strings.replace(crt.getCsrInfo(),',','<br/>')}"></div>
                            </div>
                        </td>
                        <td th:class="${iterStat.odd}?'actions': 'alt actions'">
                            <form action="#" th:action="@{/revokeCert}" method="post" style="float: left; margin-right: 10px;">
                                <div class="action-popup">
                                    <a href="#" onclick="this.parentElement.style.visibility = 'hidden'" style="color:white">
                                        <div class="close-button">x</div>
                                    </a>
                                    <div class="pw-label">Ansible Password:</div>
                                    <input type="password" name="cryptPassword" class="crypt-pwd-field" />
                                    <br/>
                                    <div class="pw-label">Intermediate Key Password:</div>
                                    <input type="password" name="keyPassword" class="crypt-pwd-field" />

                                    <input class="revoke-button action-button-popup" type="submit" name="revoke" th:value="#{admin.ui.signed.action.revoke}" />
                                </div>
                                <input type="hidden" name="userName" th:value="${crt.getUserName()}" />
                                <input type="hidden" name="fileName" th:value="${crt.getCsrFile().getFileName().toString()}" />
                                <button onclick="event.preventDefault(); this.parentElement.getElementsByTagName('div')[0].style.visibility = 'visible'"
                                        class="revoke-button" name="revoke" th:text="#{admin.ui.signed.action.revoke}"></button>
                            </form>
                            <form action="#" th:action="@{/renewCert}" method="post">
                                <div class="action-popup">
                                    <a href="#" onclick="this.parentElement.style.visibility = 'hidden'" style="color:white">
                                        <div class="close-button">x</div>
                                    </a>
                                    <div class="pw-label">Ansible Password:</div>
                                    <input type="password" name="cryptPassword" class="crypt-pwd-field" />
                                    <br/>
                                    <div class="pw-label">Intermediate Key Password:</div>
                                    <input type="password" name="keyPassword" class="crypt-pwd-field" />

                                    <input class="renew-button action-button-popup" type="submit" name="renew" th:value="#{admin.ui.signed.action.renew}" />
                                </div>
                                <input type="hidden" name="userName" th:value="${crt.getUserName()}" />
                                <input type="hidden" name="fileName" th:value="${crt.getCsrFile().getFileName().toString()}" />
                                <button onclick="event.preventDefault(); this.parentElement.getElementsByTagName('div')[0].style.visibility = 'visible'"
                                        class="renew-button" type="submit" name="renew" th:text="#{admin.ui.signed.action.renew}" ></button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="revoked-certificates-area" class="admin-list-area">
            <img src="certs-revoked.png" alt="" th:width="50px" style="float: left; vertical-align: middle; margin-right: 10px;" />
            <h2 th:text="#{admin.ui.revoked.headline}"></h2>
            <table id="revoked-certificates" class="admin-list-table">
                <thead>
                <tr>
                    <th th:text="#{admin.ui.requests.user}"></th>
                    <th th:text="#{admin.ui.requests.date}"></th>
                    <th th:text="#{admin.ui.requests.filename}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(revokedCerts)}">
                    <td th:colspan="4" th:text="#{admin.ui.revoked.nocerts}" class="no-requests"></td>
                </tr>
                <tr th:each="cert,iterStat : ${revokedCerts}">
                    <td th:class="${iterStat.odd}?'': 'alt'" th:text="${cert.getUserName()}"></td>
                    <td th:class="${iterStat.odd}?'': 'alt'" th:text="${#temporals.format(cert.getLastModified(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:class="${iterStat.odd}?'': 'alt'">
                        [[${cert.getCertFile().getFileName().toString()}]]
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
